@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #FEFCFB;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: #FEFCFB;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.TodoWrapper {
  background: #0A1128;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 5px 2px 50px -3px rgba(0,0,0,0.75);
}

.TodoForm {
  width: 100%;
  margin-bottom: 1rem;
  
  
}

.todo-input {
  outline: none;
  background: #1282A2;
  border: 1px solid #1282A2;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #FEFCFB;
}

.todo-input::placeholder {
  color: #FEFCFB;
}

.todo-btn {
  background: #034078;
  margin-left: 4px;
  color: #f6f6ff;
  border: none;
  border-radius: 4px;
  padding: 0.55rem;
  cursor: pointer;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #034078;
  color: #f6f6ff ;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.fa-trash {
  margin-left: 0.75rem;
}

.incompleted {
  color: #f6f6ff;
  cursor: pointer;
}

.completed {
  color: #c5aeff;
  text-decoration: line-through;
  cursor: pointer;
}

.edit-icon {
  cursor: pointer;
  color: #36B37E;
}
.delete-icon {
  color: #FF5630;
  cursor: pointer;
}
.todo-select {
  outline: none;
  background: #1282A2;
  border: 1px solid #1282A2;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 1px;
  margin-right: 4px;
  width: 70px;
  padding-right: 10px;
  padding-top: 7px;
  color: #FEFCFB;
  font-size: smaller;
  height: 42px;

}
.label-tag {
  font-weight: bold;
  margin-right: 15px;
  border-radius: 5px;
  color: #1282A2;

}
#search {
  width: 84%;
  margin-bottom: 1px;

}
.search {
  margin-bottom: 1px;
}